::ng-deep {
    .mat-icon.favorite {
        color: black;
      }
      .mat-card.custom-card {
        background-color: #dd3c3c; /* Set your desired background color */
      }
      
      .mat-card-title.custom-title {
        color: black;
}
}